/* ==========================================
   KSB WEB STUDIO v2
   Premium Agency UI
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{

--bg:#050816;
--card:#0B1120;
--primary:#2563EB;
--secondary:#60A5FA;
--text:#FFFFFF;
--gray:#94A3B8;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;

background:var(--bg);

color:var(--text);

overflow-x:hidden;

}

/* Background Glow */

body::before{

content:"";

position:fixed;

width:700px;

height:700px;

background:#2563EB;

filter:blur(180px);

opacity:.12;

top:-300px;

right:-250px;

z-index:-1;

}

/* ================= NAVBAR ================= */

.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:22px 8%;

display:flex;

justify-content:space-between;

align-items
